*
!*/
# track this file
!.gitignore
# whitelist everything in ./config/
!alacritty/**
!bat/**
!bspwm/**
!helix/**
!hypr/**
# !kak/** seperate git repo
!kitty/**
!lem/**
!nu/**
!river/**
!strawberry/**
!waybar/**
!wezterm/**
!xfce4/**
!xonsh/**
!zellij/**
!gdb/**
!starship.toml
!konsolerc
!dolphinrc
!README.md
